{% extends 'example_app/base.html' %}

{% block content %}
	
	{% if request.user == u %}

		<h1>Recommended Buddies</h1>
		
		{% for buddy in rec_buddy_list %}

			<form action="{{ 'buddy-invite' }}" method="GET">
				<button class='btn btn-outline-info' type='submit' name="username" value='{{ buddy.username }}'>Invite {{ buddy.username }}</button>
			</form>

		<!-- display user info too -->

		{% endfor %}
		<hr>
		<h2>Sent Buddy Requests</h2>
		<ul>
		{% for s_request in sent_friend_requests %}
			<li>{{ s_request.to_user.username }}</li>
			<form action="{{ 'buddy-cancel' }}" method="GET">
				<button class='btn btn-outline-info' type='submit' name="username" value='{{ s_request.to_user.username }}'>Cancel invite?</button>
			</form>


		{% endfor %}
		</ul>
		<hr>
		<h2>Received Buddy Requests</h2>
		
		{% for r_request in rec_friend_requests %}
			<p><a href="{{ r_request.from_user.RecommendedBuddies.get_absolute_url }}">{{ r_request.from_user.username }}</a></p>
<!-- 			<small><a class='btn btn-primary' href="/users/friend-request/accept/{{ r_request.from_user.username }}">Accept</a></small> -->
			
			<form action="{{ 'buddy-accept' }}" method="GET">
				<button class='btn btn-outline-info' type='submit' name="username" value='{{ r_request.from_user.username }}'>Accept</button>
			</form>


			<form action="{{ 'buddy-ignore' }}" method="GET">
				<button class='btn btn-outline-info' type='submit' name="username" value='{{ r_request.from_user.username }}'>Ignore</button>
			</form>

		{% endfor %}
		

	{% else %}

		{% if button_status == 'not_friend' %}
			<small><a class='btn btn-primary' href="/users/friend-request/send/{{ u.username }}">Add Friend</a></small>
		{% elif button_status == 'friend_request_sent' %}
			<small><a class="btn btn-warning" href="/users/friend-request/cancel/{{ u.username }}">Cancel Request</a></small>
		{% endif %}

	{% endif %}

	</div>

{% endblock %}




